---
import Layout from "../layout.astro";
---

<Layout title="Att bygga vägen till framgång">
  <div class="flex-grow m-4">
    <div class="max-w-2xl w-full mx-auto bg-neutral-900 p-4">
      <h1 class="text-2xl text-white">
        Att bygga vägen till framgång - i en föränderlig värld
      </h1>
      <p class="text-neutral-200">
        Sällan har förändringar gått i en så rasande takt som nu. Detta skapar
        både utmaningar och möjligheter för dig som ledare och för det företag
        du verkar i. Att bygga din egen väg till framgång under dessa
        förutsättningar kräver passion, struktur och fokuserat arbete. Att
        skilja på ledarskap och chefskap är avgörande för att lyckas. Att
        förändra dig själv eller den verksamhet du verkar i handlar om att se,
        vilja och våga. För att lyckas krävs ett förhållningssätt där lärande
        och ständig utveckling formar ditt och människorna i din organisations
        sätt att tänka. I boken Att bygga vägen till framgång – i en föränderlig
        värld, får du följa med Martin Holmgren på en guidning genom det
        ledarskap och chefskap som krävs för att lyckas. Du får ta del av vad
        som gör att människor vill eller inte vill vara med och förändra. Du får
        också hänga med på en äventyrlig resa bland krokodiler på Manambolo
        river. Allt för att du själv ska kunna bygga din egen väg till framgång.
      </p>
      <a
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:bg-green-600 mt-4 lg:mt-0"
        href="https://www.adlibris.com/se/bok/att-bygga-vagen-till-framgang-i-en-foranderlig-varld-9789152765944"
        >Beställ på Adlibris</a
      >
    </div>
  </div>
</Layout>
