---
import i18next, { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import Layout from "../layout.astro";

changeLanguage("sv");
---

<Layout title="TEAM Holmgren">
  <main class="font-jost hyphens-manual flex-grow pb-12 mt-5">
    <div class="flex md:flex-row flex-col items-center justify-center gap-2">
      <div
        class="bg-neutral-900 font-semibold text-center rounded-3xl border border-neutral-800 drop-shadow-2xl p-10 max-w-xs"
      >
        <img class="mb-10" alt="logo of Team Holmgren" src="/img/logo.svg" />
        <img
          class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
          src="/img/martin-fancy.webp"
          alt="Martin Holmgren"
        />
        <h1 class="text-xl text-gray-200">Martin Holmgren</h1>
        <h3 class="text-lg text-gray-400">{t("martin-work")}</h3>
        <p class="text-sm text-gray-400 mt-4">
          {t("mainpage-quote1")}
        </p>
        <p class="text-sm text-gray-400 my-4">
          {t("mainpage-quote2")}
        </p>
        <a
          href={localizePath("/info", i18next.language)}
          class="bg-green-600 px-8 py-2 mt-8 rounded-xl shadow-lg text-gray-100 font-semibold racking-wide"
          >{t("readmore")}</a
        >
      </div>
      {
        t("lang") === "se" && (
          <div class="bg-neutral-900 font-semibold text-center rounded-3xl border border-neutral-800 drop-shadow-2xl p-4 max-w-sm">
            <h1 class="text-xl text-gray-200">
              Att bygga vägen till framgång - i en föränderlig värld
            </h1>
            <img
              class="mb-3 rounded-md shadow-lg mx-auto"
              src="/img/bok.webp"
            />
            <a
              href="/att-bygga-vagen-till-framgang"
              class="bg-green-600 px-8 py-2 rounded-xl shadow-lg text-gray-100 font-semibold racking-wide"
            >
              {t("readmore")}
            </a>
          </div>
        )
      }
    </div>
  </main>
</Layout>
