---
import { changeLanguage, t } from "i18next";
import Layout from "../layout.astro";

changeLanguage("sv");
---
     
<Layout title={t("offer")}>
    <main class="text-white m-10 min-h-screen">
        <div class="bg-stone-800 p-10 my-2 rounded shadow">
            <h2 class="text-2xl">{t("job2bemade")}</h2>
            <ul class="list-disc list-outside text-stone-200">
                <li>{t("jobl1")}</li>
                <li>{t("jobl2")}</li>
                <li>{t("jobl3")}</li>
                <li>{t("jobl4")}</li>
                <li>{t("jobl5")}</li>
            </ul>
        </div>
        <div class="bg-stone-800 p-10 my-2 rounded shadow">
            <h2 class="text-2xl">{t("offer")}</h2>
            <ul class="list-disc list-outside text-stone-200">
                <li>{t("offer2")}</li>
                <li>{t("offer3")}</li>
                <li>{t("offer4")}</li>
                <li>{t("offer5")}</li>
            </ul>
        </div>
        <h3 class="text-white">{t("call2action")}</h3>
        <div
            class="p-5 bg-stone-800 w-96 text-white rounded-lg font-semibold shadow-xl text-center"
        >
            <img
                class="rounded mb-1"
                alt="Martin Holmgren in a fancy suit speaking"
                src="/img/martin-speaking.webp"
            />
            <p>Martin Holmgren</p>
        </div>
    </main>
</Layout>
